/* Background Colors */
$background: rgb(247, 247, 247);
$background-wraper: rgb(255, 255, 255);
$background-card: rgb(222, 216, 216);
/* Colors */
$text-color: #222;
$border-color: rgb(238, 238, 238);
$text-color-header: rgb(255, 255, 255);

// $primary-color: rgb(215, 217, 223);
$primary-color: #334257;
$secondary-color: #476072;
$secondary-color: #eeeeee;

/* Fonts */
$font-size-base: 16px;
$font-stack: Helvetica, sans-serif;

/* Images */
$home-image: '../assets/background_image4.jpg';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: 100% $font-stack;
  color: $text-color;
  background-color: $background;
}

a {
  text-decoration: none;
  color: $text-color;
}

ul {
  list-style: none;
}

// /* header */
// header {
//   section {
//     // line-height: 50vh;
//     text-align: center;
//     font-size: 10vh;
//   }
// }

/* navgation */
nav {
  background-color: $primary-color;
  // opacity: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0;

  padding: 5px 32px;
  .nav__container {
    li {
      font-size: $font-size-base;
      padding: 15px 5px;
      a {
        display: block;
        color: $text-color-header;
      }
    }
    .nav__logo {
      font-size: $font-size-base * 1.5;
    }
  }
}
nav.solid {
  background-color: $primary-color;
}

/* Mobile nav */
.nav__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav__toggle {
  order: 1;
}

.nav__item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.nav__item.active {
  display: block;
}

.nav__toggle {
  cursor: pointer;
}

.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  width: 18px;
}

.bars::before,
.bars::after {
  background: #999;
  content: '';
  display: inline-block;
  height: 2px;
  position: absolute;
  width: 18px;
}

.bars::before {
  top: 5px;
}
.bars::after {
  top: -5px;
}

/* mobile main */

main {
  section {
    padding: 80px 16px;
    h2 {
      padding: 32px;
    }
  }
  %card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    max-width: 1100px;
    border-radius: 32px;
    margin: 0 auto;
    background-color: $background;
  }
  .about__card__wrapper {
    @extend %card-wrapper;
    p {
      padding: 16px;
      font-size: $font-size-base * 1.2;
    }
  }
}

.contact__card__wrapper,
.protfolio__card__wrapper,
.skills__card__wrapper {
  @extend %card-wrapper;
}

.contact__card,
.protfolio__card,
.skills__card {
  border-radius: 16px;
  width: 240px;
  height: 320px;
  margin: 16px;
  background-color: $background-card;
}

.contact__form {
  border-radius: 16px;
  width: 320px;
  height: 320px;
  margin: 16px;
  background-color: $background-card;
}

.contact__list,
.social__list,
.skills__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.contact__list {
  flex-direction: column;
}

.contact__item,
.skills__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: solid 1px $border-color;
  border-radius: 10px;
  margin: 16px 16px 0;
  font-size: smaller;
  background-color: $background-wraper;
}

%icon {
  height: 32px;
  width: 32px;
}

.social__item > a > img {
  @extend %icon;
}

.skills__item > img {
  @extend %icon;
  margin-bottom: 2px;
}

.contact__item > img {
  @extend %icon;
}

/* footer */
footer {
  margin-top: 32px;
  padding: 16px;
  background-color: $primary-color;
  p {
    text-align: center;
    color: $secondary-color;
  }
}

/* Desktop nav */
@media all and (min-width: 768px) {
  .nav__item {
    display: block;
    width: auto;
  }
  .nav__toggle {
    display: none;
  }
  .nav__logo {
    order: 0;
  }
  .nav__item {
    order: 1;
  }
  .nav__container li {
    padding: 15px 10px;
  }

  main {
    section {
      padding: 80px 32px;
    }
    .about__card__wrapper {
      background-color: $background-wraper;
      p {
        padding: 48px;
        font-size: $font-size-base * 1.5;
      }
    }
  }
}
/* background images*/

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  height: 100vh;
  background-image: url($home-image);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  // line-height: 100vh;
  text-align: center;
  // font-size: 10vh;

  .home__greeting {
    color: $border-color;
    margin-bottom: 32px;
    font-size: $font-size-base * 2;
  }
  .home__bio {
    margin: 0 auto;
    color: $border-color;
    margin-bottom: 32px;
    padding: 0 32px;
    font-size: $font-size-base * 1.5;
    max-width: 765;
  }
  h1 {
    color: $border-color;
    margin-bottom: 32px;
    font-size: $font-size-base * 4;
  }
}
