$font-stack: Helvetica, sans-serif;
$background-color: #fdf6f0;
$text-color: #492f10;
$hilight-color: #fcd8d4;

body {
  font: 100% $font-stack;
  color: $text-color;
  background-color: $background-color;
}

a {
  text-decoration: none;
  color: $text-color;
  padding: 0.5rem;
}
.nav__container {
  display: flex;
  flex-direction: row;
}
.nav__logo {
  width: 15rem;
  height: 15rem;
}

.nav__navagation {
  display: flex;
  flex-direction: row;
}

.nav__item {
  display: flexbox;
  list-style: none;
  display: block;
  padding: 0.5rem 1rem;
}
